* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 12px;
    /* 把所有文字的大小调成12px,这是天猫默认的文字大小 */
    font-family: Arial;
    /* 字库使用Arial */
}

a {
    color: #999;
    /* 所有的超链，都以灰色#999 形式表现出来 */
}

.redColor {
    color: #c40000 !important;
    /* 天猫整个网站使用的天猫红都是#C40000, 在这个例子里首页和购物车图标使用了本样式 */
}

nav.top {
    background-color: #f2f2f2;
    /* 背景色#f2f2f2; */
    padding-top: 5px;
    /* 上内边距是5px */
    padding-bottom: 5px;
    /* 下内边距是5px */
    border-bottom: 1px solid #e7e7e7;
    /* 下边缘有1个像素的实线边框，颜色是比背景色#f2f2f2略深的#e7e7e7 */
}

nav.top span,
nav.top a {
    color: #999;
    /* 颜色#999 */
    margin: 0px 10px 0px 10px;
    /* 并且有左右外边距10px，但是没有上下外边距 */
}

nav.top a:hover {
    color: #C40000;
    /* 当鼠标移动到超链上的时候，颜色变为天猫红 #C40000 */
    text-decoration: none;
    /* 去掉下划线 */
}

div.searchDiv {
    background-color: #C40000;
    /* 搜索框div背景色是天猫红#C40000; */
    width: 402px;
    /* 宽度固定400px; 引入bootstrap盒子模型变成非标准*/
    margin: 50px auto;
    /* 水平居中，并且有50px的上下外边距 */
    padding: 1px;
    /* 有1px的内边距 */
    height: 42px;
    /* 高度是40px； */
    display: block;
    /* 以块状元素显示，只有在以块状元素显示的时候,水平居中才有效果。 当然div默认也是块状元素显示的 */
}

div.searchDiv input {
    width: 277px;
    /* 宽度275px */
    border: 1px solid transparent;
    /* 边框设置成透明的，否则会有边框阴影 */
    height: 38px;
    /* 高度36px */
    margin: 1px;
    /* 外边距设置为1px，看上去输入框和边框之间就有很小的空隙 */
    outline: none;
    /* 去掉输入框轮廓，否则获取焦点的时候会发生颜色变化 */
}

div.searchDiv button {
    width: 110px;
    /* 宽度110px,这样加上左边的input的275px的宽度，正好把searchDiv填满 */
    border: 1px solid transparent;
    /* 边框设置成透明的，否则会有边框阴影 */
    background-color: #C40000;
    /* 背景色设置成天猫红，和searchDiv融为一体 */
    color: white;
    /* 字体白色 */
    font-size: 20px;
    /* 字体大小20px */
    font-weight: bold;
    /* 字体加粗 */
}

div.searchBelow {
    margin-top: 3px;
    /* 搜索栏下方的div，有3个像素的上外边距 */
    margin-left: -20px;
    /* -20个像素的左外边距 */
}

div.searchBelow span {
    color: #999;
    /* 把不同的关键字之间的竖棒设置为灰色 */
}

div.searchBelow a {
    padding: 0px 20px 0px 20px;
    /* 超链之间的水平间隔20px  */
    font-size: 14px;
    /* 超链文字大小14px */
}

img.logo {
    position: absolute;
    /* logo图片使用绝对定位 */
    left: 0px;
    /* 贴在左边 */
    top: 30px;
    /* 距离上面30px */
    z-index: -1;
    /* -1表示放在下面，免得图片挡住了输入框 */
}

div.footer {
    margin: 0px 0px;
    /* 无外边距 */
    border-top-style: solid;
    /* 上边框实线 */
    border-top-width: 1px;
    /* 上边框1个像素 */
    border-top-color: #e7e7e7;
    /* 上边框颜色 */
}

div.footer-ensure {
    margin-top: 24px;
    /* 上外边距 */
    margin-bottom: 24px;
    /* 下外边距 */
    text-align: center;
    /* 图片居中 */
}

div.footer_desc {
    border-top-style: solid;
    /* 上边框实线 */
    border-top-width: 1px;
    /* 上边框1个像素 */
    border-top-color: #e7e7e7;
    /* 上边框颜色 */
    padding-top: 30px;
    /* 上内边距 */
    margin: 0px 20px;
    /* 左右外边距20px */
}

div.footer_desc div.descColumn {
    width: 20%;
    /* 刚好有5列，所以每列占用20% */
    float: left;
    /* 漂浮起来，使得这些列水平摆放 */
    padding-left: 15px;
    /* 左内边距15px */
}

div.footer_desc div.descColumn span.descColumnTitle {
    color: #646464;
    /* 颜色 */
    font-weight: bold;
    /* 粗体 */
    font-size: 16px;
    /* 文本大小16px */
}

div.footer_desc a {
    display: block;
    /* 超链默认是inline,会水平摆放，改成block出现换行效果 */
    padding-top: 3px;
    /* 3px内边距 */
}
div.footer{
    margin: 0px 0px;
    /* 无外边距 */
    border-top-style: solid;
    /* 上边框实线 */
    border-top-width: 1px;
    /* 上边框1个像素 */
    border-top-color: #e7e7e7;
    /* 上边框颜色 */
    }
    
    div.copyright{
    background-color: black;
    /* 背景色变为黑色 */
    border-top-style: solid;
    /* 上边框实线 */
    border-top-width: 2px;
    /* 上边框2个像素 */
    border-top-color: #C40000;
    /* 上边框天猫红 */
    }
   
    div.copyright span.slash{
    color: white;
    /* 白色 */
    }
   
    div.footer div.copyright div.white_link a{
    color: white;
    /* 白色 */
    padding: 0px 5px;
    /* 水平内边距5px */
    }
   
    div.footer div.copyright div.white_link{
    padding: 10px 0px;
    /* 上下内边距10px */
    margin-left: 10px;
    /* 左外边距10px */
    }
  
    div.license{
    margin-left: 10px;
    /* 做外边距10px */
    padding-bottom: 30px;
    /* 下内边距30px */
    }
   
    div.license span{
    color: #A4A4A4;
    /* 颜色#A4A4A4; */
    }
   
    div.license div.copyRightYear{
    margin: 10px 0px;
    /* 上下外边距10px */
    color: #686868;
    /* 颜色#686868; */
    }
    
    img.cateye{
    margin-left: 20px;
    /* 左外边距20px */
    }
    
  